/*Main Rules*/

$main: #c30a30;
$background: rgb(238, 238, 238);

html,
body {
	font-family: sans-serif;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	background-color: $background
}

.container-fluid {
	padding: 0
}

.btn {
	border-radius: 2rem;
	min-height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: .8rem;
	font-weight: bold; //	box-shadow: 0px 6px 20px 0px rgba(168, 168, 168, 1);
}

.btn:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0)
}

.button1 {
	background-color: #fff;
	color: $main; //	box-shadow: 0px 6px 20px 0px rgba(168, 168, 168, 1);
}

.button1:hover {
	background-color: $main;
	color: #fff;
}

.button2 {
	background-color: $main;
	color: #fff;
	border: 2px solid $main;
}

.button2:hover {
	background-color: #fff;
	color: $main;
	border: 2px solid $main;
}

.form-control:focus {
	border-color: rgba(195, 10, 48, .25);
	box-shadow: 0 0 0 .1rem rgba(195, 10, 48, .25)
}

form .form-control:not(textarea) {
	border: none;
	border-bottom: 1px solid #ced4da;
	font-size: .9rem;
}

textarea.form-control {
	font-size: .9rem;
	resize: none;
	border-radius: 13px
}

form .form-control:focus {
	outline: none;
	border-color: $main;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
}

.modal-header .close,
button.close {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 1);
	padding: 0px;
	width: 27px;
	height: 25px;
	border-radius: 50%;
	opacity: 1;
	color: $main;
	box-shadow: 2px 2px 12px 0px #aaa;
}

button.close:hover {
	background-color: rgba(255, 255, 255, 1);
	color: $main;
	opacity: 1;
}

//slick slider
.slick-slider {
	//		width: 100%; 
	//	background-color: #fff;
	margin: auto;
	width: 100%;
	margin-top: 0px;
	.slick-list {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.slick-prev:before,
	.slick-next:before {
		color: $main;
		font-size: 30px
	}
	.slick-slide {
		text-align: center;
		position: relative;
		z-index: 1
	}
	.slick-slide:focus {
		outline: none;
	}

}

.slick-arrow {
	top: 45%;
	z-index: 2
}

.slick-prev:before {
	font-family: "fontawesome";
	content: "\f104";
	position: relative;
}

.slick-next:before {
	font-family: "fontawesome";
	content: "\f105";
	position: relative
}

//End slick slider
/*End Main Rules*/

.social-fixed {
	position: fixed;
	left: -0;
	top: 35vh;
	z-index: 100;
	background-color: #eee;
	border-radius: .5rem;
	.icon {
		display: block;
		padding: 0;
		margin: 0;
		cursor: pointer;
		transition: .2s;
		line-height: normal;
		img {
			width: 35px
		}

	}
	.icon:hover {
		transform: scale(1.1);
	} //	.facebook {
	//		color: #3b5999
	//	}
	//	.youtube {
	//		color: #cd201f
	//	}
	//	.twitter {
	//		color: #55acee
	//	}
	//	.google {
	//		color: #dd4b39
	//	}
}

.social-fixed:hover {
	left: 0
}

//header
header.home {
	background-color: $main;
	color: #fff;
	min-height: 60px;
	.row {
		min-height: 60px
	} //	justify-content: center;
	.logo {
		background: $main;
		img {
			//			width: 50px;
			//			width: 150px
		}
	}
	.language-wrapper {
		.language-switch {
			text-transform: uppercase; //			padding: 0 2.4rem;
			//			justify-content: center;
		}
		.language-switch a {
			color: #fff;
			border-right: 1px solid #fff;
			padding: 0 4px;
			cursor: pointer;
			text-decoration: none;
			font-size: .8rem;
		}
		.language-switch a.selected {
			font-weight: bold
		}
		.language-switch a:hover {
			color: #eee
		}
		.language-switch a:last-of-type {
			border: none;
		}
	}
	.title {
		h4 {
			margin-bottom: 0
		}
		h6 {
			font-size: .7rem
		}
	}
	.button1 {
		width: 100%;
		margin-bottom: 3px
	}
	.button1:hover {
		border: 2px solid #fff;
	}
}

//End header
//ads slider
//.ads {
//	height: 200px;
//	background-image: url(../images/slider1.png);
//	background-repeat: no-repeat;
//	background-position: center;
//	background-size: cover
//}
//#ads-slider {
//	height: 300px;
//	.carousel-indicators li {
//		//		background-color: rgba(195, 10, 48, .5);
//		background-color: #aaa; //		width: 20px;
//		margin-left: 6px;
//		margin-right: 6px;
//	}
//	.carousel-indicators .active {
//		background-color: #ddd
//	}
//	.carousel-inner {
//		height: 100%
//	}
//	.carousel-item {
//		//		height: 100%;
//		height: 300px; //		background-image: url(../images/slider1.png);
//		//		background-repeat: no-repeat;
//		//		background-position: center;
//		//		background-size: cover
//	}
//	img {
//		height: 100%;
//	}
//}
.ads-slider {
	height: 300px;
	.slick-list,
	.slick-track {
		height: 100%
	}
	.ad-image {
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.slick-dots {
		bottom: 0
	}
}

//End ads slider
//search section
section.search {
	header {
		margin-top: 20px;
		margin-bottom: 20px;
		.download {
			text-align: left;
			display: inline-block;
			.btn {
				box-shadow: 0px 3px 10px 0px rgba(168, 168, 168, 1);
			}
		}
		.android {
			margin-bottom: 8px;
			margin-right: 25px
		}
		.search-wrapper {
			position: relative;
			input[type="search"] {
				border-radius: 2em;
				min-height: 37px;
				padding-top: 0;
				padding-bottom: 0
			}
			.icon{
				position: absolute;
				right: 20px;
				top: 15%;
				color: #999
			}
		}

		@media (max-width: 768px) {
			.logo {

				display: none
			}
			.download {
				text-align: left; //			margin-bottom: 8px
			}
		}
	}
}

//search section
//categories slider
.slider-fixed {
	position: fixed;
	top: 0;
	z-index: 10
}

.categories {
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	.category-slider {
		//		width: 100%; 
		//	background-color: #fff;
		width: 91%;
		.slick-slide {
			img {
				margin: auto;
				transition: .2s;
				border-radius: 50%;
				box-shadow: 4px 4px 12px 0px #bbb;
				width: 60%
			}
			img:hover {
				cursor: pointer;
				transform: scale(1.1)
			}
			h6 {
				color: #444;
				font-size: .7rem;
				padding-top: 8px;
				width: 70%;
				margin: auto
			}
		}

	}
	.slick-arrow {
		top: 35%;
	}
	.slick-prev {
		left: -20px
	}
	.slick-next {
		right: -20px
	}
	@media (max-width: 480px) {
		.slick-prev {
			left: -10px
		}
		.slick-next {
			right: -10px
		}

	}
}

//End categories slider
//products - home page
.home-page {
	.card-body {
		background-color: #fff;
		.price {
			position: absolute;
			font-weight: bold;
			height: 70px;
			width: 70px;
			border-radius: 50%;
			background-color: $main;
			text-align: center;
			top: -35px;
			left: -30px;
			z-index: 1;
			color: #fff;
			font-size: .9rem;
			//			box-shadow: 4px 4px 18px 0px #666;
			box-shadow: 0px 1px 10px 0px #a8a8a8;
			;
		}
		.price-val {
			margin-top: 35%
		}
		.fav {
			position: absolute;
			text-align: center;
			top: -35px;
			right: 0px;
			z-index: 3;
			color: #999;
			font-size: .9rem;
			.icon {
				transition: .1s
			}
			.icon:hover {
				font-size: .95rem;
				color: orange;
				cursor: pointer
			}

		}
	}

	.products {
		margin-top: 25px;
		margin-bottom: 30px;
		position: relative;
		.row {
			position: relative;
		} //		.ad {
		//			min-width: 250px;
		//			font-size: 1.2rem;
		//			position: fixed;
		//			z-index: 2000;
		//			top: 150px;
		//			left: 40%
		//		}
		//		@media (max-width: 768px) {
		//			.ad {
		//
		//				left: 32%
		//			}
		//
		//		}
		//		@media (max-width: 576px) {
		//			.ad {
		//				min-width: 200px;
		//				font-size: 1rem;
		//				left: 30%
		//			}
		//		}
		//		@media (max-width: 400px) {
		//			.ad {
		//				left: 23%
		//			}
		//		}
		.main {
			padding-top: 110px;
			.left-col {
				padding-right: 45px;
				padding-left: 45px;
				margin-left: auto;
				margin-right: auto
			}
			.right-col {
				padding-right: 20px;
				.banners {
					margin-top: 50px
				}
				.banner {
					margin-bottom: 30px;
					position: relative;
					.close {
						top: -10px;
						right: -10px;
					}
				}
			}
		}
		.controls {
			margin-top: 10px;
			position: relative;
			.category-name {
				position: absolute;
				left: -30px; //				bottom: -90%;
				//				top: -80%;
				bottom: -32%;
				background-color: #eee;
				padding-right: 5px;
				color: $main;
				font-size: .85rem;
				font-weight: bold
			}
			margin-bottom: 30px;
			ul {
				list-style: none;
				margin: 0;
				border-bottom: 1px solid $main;
			}
			li {
				display: inline-block;
				margin-right: 40px;
				color: #aaa
			}
			li.selected {
				color: $main
			}
			li:hover {
				cursor: pointer
			}
		}
		.card {
			font-size: .7rem;
			width: 95%;
			min-height: 320px;
			margin: auto;
			box-shadow: 0px 6px 20px 0px rgba(168, 168, 168, 1);
			position: relative;
			.overlay {
				position: absolute;
				width: 100%;
				height: 0;
				top: 0;
				right: 0;
				left: 0;
				overflow: hidden;
				background-color: $main; //			border-bottom-right-radius: 3rem;
				//			border-bottom-left-radius: 3rem;
				color: #fff;
				text-align: center; //			line-height: 58px;
				z-index: 2; //			opacity: 0;
				transition: .2s;
				transition-timing-function: step-middle;
				.text {
					color: white;
					width: 100%;
					font-size: .9rem;
					letter-spacing: 1.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					text-align: center;
				}
			}
			.card-img-top {
				background: no-repeat center;
				background-size: cover;
				display: block;
				height: 200px;
				position: relative;
				z-index: 0;
				transition: .2s
			}
			.card-body {
				padding: 10px;
				padding-left: 40px;
				position: relative;

				.date {
					font-size: .6rem
				}
			}
			.card-title {
				font-weight: bold;
				margin-bottom: 0;
			}
			fieldset {
				font-size: .6rem
			}
		}
		.card:hover {

			.overlay {
				height: 12%;
				cursor: pointer; //			opacity: 1
			}
			.card-img-top {
				//			transform: scale(.9);
				transform: translateY(30px)
			}
		}
	}
} //End products - home page
//products - search page
.search-page {
	.products {
		margin-top: 25px;
		margin-bottom: 30px;

		.main {
			padding-top: 40px;
			.left-col {
				padding-right: 45px;
				padding-left: 45px;
				margin-left: auto;
				margin-right: auto
			}
			.right-col {
				padding-right: 20px;
				.banners {
					margin-top: 50px
				}
				.banner {
					margin-bottom: 30px
				}
			}
		}
		.card {
			font-size: .7rem; //			padding-top: 20px;
			width: 95%;
			min-height: 200px; //			max-height: 200px;
			margin: auto;
			box-shadow: 0px 6px 20px 0px rgba(168, 168, 168, 1);
			position: relative;
			.container {
				padding-left: 0;
			}
			.overlay {
				position: absolute;
				width: 100%;
				height: 0;
				top: 0;
				right: 0;
				left: 0;
				overflow: hidden;
				background-color: $main;
				color: #fff;
				text-align: center;
				z-index: 2;
				transition: .2s;
				transition-timing-function: step-middle;
				.text {
					color: white;
					width: 100%;
					font-size: .9rem;
					letter-spacing: 1.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					text-align: center;
				}
			}
			.card-left {
				//				position: relative;
				height: 100%;
				min-height: 200px;

				.card-img-top {
					background: no-repeat center;
					background-size: 100%;
					display: block; //				height: 200px;
					height: 100%;
					position: relative;
					z-index: 0;
					transition: .2s;

				}
				.price {
					position: absolute;
					font-weight: bold;
					height: 70px;
					width: 70px;
					border-radius: 50%;
					background-color: $main;
					text-align: center;
					bottom: 5%;
					left: -35px;
					z-index: 1;
					color: #fff;
					font-size: .9rem;
					box-shadow: 4px 4px 18px 0px #666;
				}
				.price-val {
					margin-top: 35%
				}
			}
			.card-body {
				padding: 10px;
				padding-top: 30px;
				padding-bottom: 30px; //				padding-left: 40px;
				position: relative;
				height: 100%;
				.details {
					max-height: 55px;
					max-width: 100%;
					overflow: auto; //					text-overflow: ellipsis;
					//					white-space: nowrap;
				}
			}
			.card-title {
				font-weight: bold;
				margin-bottom: 0;
			}
			fieldset {
				font-size: .6rem
			}
		}
		.card:hover {
			cursor: pointer;
			.overlay {
				height: 12%;
			}
			.card-img-top {
				//				transform: translateY(30px)
			}
		}
	}
} //End products - search page
//footer
footer {
	min-height: 400px;
	color: #eee;
	background-color: $main;
	padding: 20px;
	font-size: .8rem;
	.section {
		margin-bottom: 10px;
		h3 {
			font-size: 1.3rem;
			font-weight: bold
		}
	}
	.reviews {
		div {
			border: 1px solid #fff;
			padding: 10px
		}
	}
	.contact {
		.social {
			margin-bottom: 20px;
			span {
				padding-right: 8px;
			}
			span:hover {
				cursor: pointer;
				color: #ddd
			}
		}
		.info {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 4px
			}
			svg {
				margin-right: 5px
			}
		}
	}
} //End footer
//modals
//global
.modal-content {
	font-size: .8rem;
	.btn.submit {
		//		width: 60%; //		font-size: .9rem
	}
}

.modal-header {
	border: none;
	padding: 0;
	padding-top: 1rem;
	position: relative;
	.close {
		top: 5px;
		right: 5px;
	}
}

.modal-body {
	padding: 0 40px;
}

.modal-footer {
	border: none;
	justify-content: center;

} //End global
//card modal
#card-modal {
	.modal-header {
		//		padding: 0
	}
	.modal-body {
		padding: 0;
	}
	.card {
		font-size: .8rem;
		border: none;
		.card-img-top {
			background: no-repeat center; //			background-size: cover;
			background-size: contain;
			display: block;
			height: 200px;
			position: relative;
			z-index: 1;
		}
		.card-body {
			padding: 10px;
			padding-left: 40px;
			padding-right: 40px;
			position: relative;
			.price {
				height: 80px;
				width: 80px;
			}
			.views-lbl,
			.likes-lbl {
				padding-right: 20px
			}
		}
		.card-title {
			font-weight: bold;
			margin-bottom: 0;
			color: $main;
			font-size: .9rem
		}
		.details {
			width: 70%;
			margin: auto;
		}
	}
	.card-img-slider {
		.slick-slide {
			//			img {
			//				margin: auto;
			//				width: 60%
			//			}
		}

	}
	.slick-arrow {
		top: 45%;
	}
	.slick-prev {
		left: 25px
	}

	.slick-next {
		right: 25px
	}

	/* Rating Star Widgets Style */
	.rating-widget,
	.rating-stars {
		display: inline
	}
	.rating-stars ul {
		list-style-type: none;
		padding: 0;
		letter-spacing: -10px;
		-moz-user-select: none;
		-webkit-user-select: none;
		display: inline
	}
	.rating-stars ul > li.star {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	/* Idle State of the stars */
	.rating-stars ul > li.star > svg {
		font-size: .8rem;
		/* Change the size of the stars */
		color: #ccc;
		/* Color on idle state */
	}

	/* Hover state of the stars */
	.rating-stars ul > li.star.hover > svg {
		color: #FFCC36;
	}

	/* Selected state of the stars */
	.rating-stars ul > li.star.selected > svg {
		color: #FF912C;
	}

} //End card modal
//file uploader
#fileuploader-ad,
#fileuploader-register {
	.ajax-upload-dragdrop {
		padding: 10px;
		border: 1px solid #ced4da;
		border-radius: 13px;
		b {
			color: #6c757d;
			opacity: 1;
			font-weight: inherit;
			font-size: inherit;
			font-family: inherit;
			padding-left: 10px
		}
	}
	.ajax-file-upload {
		padding: 0;
		margin: 0;
		line-height: 25px;
		border-radius: 2rem;
		height: auto;
		min-height: 35px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: .8rem;
		font-weight: bold;
		border: none;
		box-shadow: 0px 1px 10px 0px #a8a8a8;
		background-color: #fff;
		color: $main;
		width: 40%;
		text-align: center;
		z-index: 100000;
		cursor: grab !important
	}
	.ajax-file-upload input[type="file"] {
		cursor: auto
	}
	.ajax-file-upload:hover {
		cursor: auto !important
	}
	.ajax-file-upload input[type="file"]:hover {
		cursor: auto !important
	}

}

.ajax-file-upload-container {
	.ajax-file-upload-statusbar {
		//		border: 1px solid $main;
		border: 1px solid #6c757d;
		width: 40% !important;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		min-height: 180px
	}
	.ajax-file-upload-filename {
		text-overflow: ellipsis;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
		white-space: nowrap
	}
	.ajax-file-upload-progress {
		max-width: 100%
	}
}

//End file uploader
//register modal
#register-modal,
#login-modal {
	.modal-body {
		text-align: center
	}
	.modal-title {
		margin-bottom: 30px;
		padding: 0;
	}
	input {
		width: 100%;
		margin: auto
	}
	.btn {
		white-space: nowrap;
		overflow: hidden;
	}
	.btn.facebook {
		background-color: #3b5998;
		border-color: #3b5998;
		border-width: 2px;
		margin-bottom: 8px;
		color: #fff;
	}
	.btn.facebook:hover {
		background-color: #fff;
		border-color: #3b5998;
		color: #3b5998;
	}
	.btn.google {
		background-color: #D73924;
		border-color: #D73924;
		border-width: 2px;
		color: #fff;
	}
	.btn.google:hover {
		background-color: #fff;
		border-color: #D73924;
		color: #D73924;
	}
	.lines {
		position: relative;
		margin-bottom: 20px;
		margin-top: 20px;
		text-align: center;
	}
	.lines .text {
		position: relative;
		top: -2px;
		z-index: 6;
		padding: 0 10px;
		background: #fff;
		color: #aaa;
		font-size: .9rem
	}
	.lines::after {
		position: absolute;
		left: 0;
		top: 10px;
		width: 100%;
		height: 1px;
		background: #c8c8c8;
		content: '';
		z-index: 5;

	}
}

#register-modal {
	.lines:first-child {
		margin-top: 0px;
	}
}

//sumo select
.SumoSelect > .CaptionCont {
	border-radius: 13px;
	border-color: #ced4da
}

.SumoSelect > .CaptionCont:hover {
	border-color: $main;
	box-shadow: 0 0 0 0 #000;
}

.SumoSelect > .CaptionCont > span.placeholder {
	color: #6c757d;
	font-style: normal
}

//End sumo select
//ad-modal
#ad-modal {
	.form-control {
		width: 100%;
		margin: auto;
	}
}

////////////////////
//rating stars
fieldset,
.rate-group {
	display: inline;
	line-height: normal;
	vertical-align: middle;
	font-size: .75rem
}

fieldset,
label {
	margin: 0;
	padding: 0;
}

.rating {
	border: none;
}

.rating input {
	display: none;
}

.rating label:before {
	margin: 1px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating label {
	color: #ddd;
	float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

//.rating > input:checked ~ label,
//.rating:not(:checked) > label:hover,
//.rating:not(:checked) > label:hover ~ label {
//	color: #FFD700;
//}
//end rating stars
