//home page
.btn {
	font-size: .95rem;
	padding-top: 3px;
	padding-bottom: 3px;
}

.btn.facebook,
.btn.google {
	font-size: .8rem
}

header.home .home-icon{
	display: inline-block;
	    vertical-align: middle;
}

//header.home .language-wrapper .language-switch a{
header.home .language-wrapper .language-switch span{
	border: none;
	    border-left: 1px solid #fff;
}


.categories .category-slider .slick-slide h6 {
	font-size: .8rem;
	font-weight: bold
}

.search-page .products .card,
.profile-page .products .card,
.home-page .products .card,
.category-page .products .card {
	font-size: .8rem
}

.search-page .products .card .overlay .text,
.profile-page .products .card .overlay .text,
.home-page .products .card .overlay .text,
.category-page .products .card .overlay .text {
	font-size: 1rem
}

section.search {
	direction: rtl;
	.text {
		text-align: right;
	}
}

.home-page .products .main .left-col,
.category-page .products .main .left-col {
	direction: rtl;
	.recent-txt {
		text-align: right
	}
	.overlay {
		.text {
			direction: ltr;
		}
	}
}

.home-page .products .main .right-col .place-ad,
.category-page .products .main .right-col .place-ad {
	direction: rtl
}

.home-page .products .card,
.category-page .products .card {
	direction: ltr;
}

.home-page .products .main .sub-categories,
.category-page .products .main .sub-categories {
	//	    text-align: right;
	direction: rtl;
}

//card
.home-page .products .card .card-body,
.category-page .products .card .card-body {
	direction: rtl;
	text-align: right;
}

.search-page .products .card .feat-en,
.profile-page .products .card .feat-en,
.home-page .products .card .feat-en,
.category-page .products .card .feat-en {
	display: none
}

.search-page .products .card .feat-ar,
.profile-page .products .card .feat-ar,
.home-page .products .card .feat-ar,
.category-page .products .card .feat-ar {
	display: block
}

//category page
.search-wrapper {
	.icon {
		right: auto;
		left: 20px
	}
}

.home-page .products .category-name,
.category-page .products .category-name {
	text-align: right
}

.home-page .products .controls,
.category-page .products .controls {
	text-align: right;
}

.home-page .products .controls ul,
.category-page .products .controls ul {
	padding: 0;
	padding-right: 10px
}

.home-page .products .controls li,
.category-page .products .controls li {
	margin: 0;
	margin-left: 40px
}

//post ad modal
#ad-modal .modal-content ,
#edit-ad-modal .modal-content,
#filter-modal .modal-content {
	direction: rtl;
	text-align: right;

	ul.navbar-nav {
		padding: 0
	}
	li.dropdown {
		padding-right: 0
	}
	a.select {
		direction: ltr;
	}
	.dropdown-menu {
		direction: ltr;
		text-align: right;

	}
	.dropdown-menu.main-dropdown {
		left: auto;
		right: 0;
	}
	.dropdown-menu .show > .dropdown-toggle::after {
		transform: rotate(90deg);
	}
}

#filter-modal .multiple .options {
	    direction: ltr;
}

#register-modal .form-group,
#login-modal .form-group {
	direction: rtl;
	text-align: right
}

#register-form{
    direction: rtl;
}
#fileuploader-edit-ad,
#fileuploader-ad,
#fileuploader-edit-ad-main,
#fileuploader-ad-main,
#fileuploader-register {
	.ajax-upload-dragdrop {
		text-align: right
	}
}

//card modal
#card-modal {
	.card {
		font-size: .9rem;
	}
	.card-body .row {
		direction: rtl;
	}
	.info-col {
		text-align: right;
	}
}

//footer
footer {
	direction: rtl;
	.section {
		text-align: right
	}
}

//profile page
.profile-page .user-details {
	direction: rtl;
	text-align: right
}

.profile-page #profile-tabs .etabs {
	direction: rtl;
	text-align: right;
}

.profile-page #profile-tabs .chats ul,
.profile-page #profile-tabs .bookmarks ul {
	direction: rtl
}

.profile-page #profile-tabs .chats li,
.profile-page #profile-tabs .bookmarks li {
	text-align: right;
}

.search-page .products .main,
.profile-page .products .main {
	direction: rtl
}
.search-page .products .card .container, .profile-page .products .card .container{
	padding-right: 0;
	padding-left: auto
}
.search-page .products .card .price,
.profile-page .products .card .price {
	left: auto;
	right: -35px
}

.search-page .products .card .card-body,
.profile-page .products .card .card-body {
	text-align: right
}

.profile-page .user-ads .status {
	right: auto;
	left: 0
}

header.home .header-account-logged li a {
	text-align: right;
	padding-right: 10px;
	padding-left: 0
}

//edit user info modal
#edit-user-info-form {
	text-align: right;
	direction: rtl;
}

#notification-modal .text,
#success-modal .text,
#success-btn-modal .text,
#verify-modal .text,
#delete-modal .text{
	direction: rtl
}

#verify-modal .code{
	direction: rtl;
}
.profile-page .session .new-msg{
		left: auto;
	right: 5px;
//	right: -28px
}
//.profile-page .chat-tab-link .new-msg{
//	left: auto;
//	right: -28px
//}
#report-form .SumoSelect{
	direction: rtl;
    text-align: right;
}

.error-message{
	direction: rtl;
	border-right: 2px solid transparent;
	border-left: none;
	border-color: #fa7751;
}
.search-result-label{
	direction: rtl;
	text-align: right
}