body {
  font-size: 18px; }

.btn {
  padding-top: 3px;
  padding-bottom: 3px; }

.btn.facebook,
.btn.google {
  font-size: 0.8rem; }

header.home .home-icon {
  display: inline-block;
  vertical-align: middle; }

header.home .language-wrapper .language-switch span {
  border: none;
  border-left: 1px solid #fff; }

.qr-page .language-wrapper .language-switch span {
  border: none;
  border-left: 1px solid #000; }

.categories .category-slider .slick-slide h6 {
  font-size: .7rem;
  font-weight: bold; }

.search-page .products .card,
.profile-page .products .card,
.home-page .products .card,
.category-page .products .card {
  font-size: 0.8rem; }

.search-page .products .card .overlay .text,
.profile-page .products .card .overlay .text,
.home-page .products .card .overlay .text,
.category-page .products .card .overlay .text {
  direction: ltr; }

section.search {
  direction: rtl; }
  section.search .text {
    text-align: right; }

.home-page .products .main .left-col,
.category-page .products .main .left-col {
  direction: rtl; }
  .home-page .products .main .left-col .recent-txt,
  .category-page .products .main .left-col .recent-txt {
    text-align: right; }
  .home-page .products .main .left-col .overlay .text,
  .category-page .products .main .left-col .overlay .text {
    direction: ltr; }

.home-page .products .main .right-col .place-ad,
.category-page .products .main .right-col .place-ad {
  direction: rtl; }

.home-page .products .card,
.category-page .products .card {
  direction: ltr; }

.home-page .products .main .sub-categories,
.category-page .products .main .sub-categories {
  direction: rtl; }

.home-page .products .card .card-body,
.category-page .products .card .card-body {
  direction: rtl;
  text-align: right; }

.search-page .products .card .feat-en,
.profile-page .products .card .feat-en,
.home-page .products .card .feat-en,
.category-page .products .card .feat-en {
  display: none; }

.search-page .products .card .feat-ar,
.profile-page .products .card .feat-ar,
.home-page .products .card .feat-ar,
.category-page .products .card .feat-ar {
  display: block; }

.search-wrapper .icon {
  right: auto;
  left: 20px; }

.home-page .products .category-name,
.category-page .products .category-name {
  text-align: right; }

.home-page .products .controls,
.category-page .products .controls {
  text-align: right; }

.home-page .products .controls ul,
.category-page .products .controls ul {
  padding: 0;
  padding-right: 10px; }

.home-page .products .controls li,
.category-page .products .controls li {
  margin: 0;
  margin-left: 40px; }

#ad-modal .modal-content,
#edit-ad-modal .modal-content,
#filter-modal .modal-content {
  direction: rtl;
  text-align: right; }
  #ad-modal .modal-content ul.navbar-nav,
  #edit-ad-modal .modal-content ul.navbar-nav,
  #filter-modal .modal-content ul.navbar-nav {
    padding: 0; }
  #ad-modal .modal-content li.dropdown,
  #edit-ad-modal .modal-content li.dropdown,
  #filter-modal .modal-content li.dropdown {
    padding-right: 0; }
  #ad-modal .modal-content a.select,
  #edit-ad-modal .modal-content a.select,
  #filter-modal .modal-content a.select {
    direction: ltr; }
  #ad-modal .modal-content .dropdown-menu,
  #edit-ad-modal .modal-content .dropdown-menu,
  #filter-modal .modal-content .dropdown-menu {
    direction: ltr;
    text-align: right; }
  #ad-modal .modal-content .dropdown-menu.main-dropdown,
  #edit-ad-modal .modal-content .dropdown-menu.main-dropdown,
  #filter-modal .modal-content .dropdown-menu.main-dropdown {
    left: auto;
    right: 0; }
  #ad-modal .modal-content .dropdown-menu .show > .dropdown-toggle::after,
  #edit-ad-modal .modal-content .dropdown-menu .show > .dropdown-toggle::after,
  #filter-modal .modal-content .dropdown-menu .show > .dropdown-toggle::after {
    transform: rotate(90deg); }

#filter-modal .multiple .options {
  direction: ltr; }

#register-modal .form-group,
#login-modal .form-group {
  direction: rtl;
  text-align: right; }

#login-modal .qr-login, #login-modal .verify-registered {
  direction: rtl;
  text-align: right; }

.border-middle {
  border-right: none;
  border-left: 1px solid #dee2e6; }

#register-form {
  direction: rtl; }
  #register-form .phone-wrapper {
    direction: ltr; }
    #register-form .phone-wrapper input {
      direction: rtl; }

#fileuploader-edit-ad .ajax-upload-dragdrop,
#fileuploader-ad .ajax-upload-dragdrop,
#fileuploader-edit-ad-main .ajax-upload-dragdrop,
#fileuploader-ad-main .ajax-upload-dragdrop,
#fileuploader-register .ajax-upload-dragdrop {
  text-align: right; }

#card-modal .card-body .row, .ad-details-page .card-body .row {
  direction: rtl; }
#card-modal .info-col, .ad-details-page .info-col {
  text-align: right; }
#card-modal .card-body .label, #card-modal .show-contact, .ad-details-page .card-body .label, .ad-details-page .show-contact {
  font-size: .8rem; }
#card-modal .card-body .price, .ad-details-page .card-body .price {
  direction: rtl; }

footer {
  direction: rtl; }
  footer .section {
    text-align: right; }

.profile-page .user-details {
  direction: rtl;
  text-align: right; }

.profile-page #profile-tabs .etabs {
  direction: rtl; }

.profile-page #profile-tabs .chats ul,
.profile-page #profile-tabs .bookmarks ul {
  direction: rtl; }

.profile-page #profile-tabs .chats li,
.profile-page #profile-tabs .bookmarks li {
  text-align: right; }

.search-page .products .main,
.profile-page .products .main {
  direction: rtl; }

.search-page .products .card .container,
.profile-page .products .card .container {
  padding-right: 0;
  padding-left: 15px; }

.search-page .products .card .price,
.profile-page .products .card .price {
  left: auto;
  right: -35px; }

.search-page .products .card .card-body,
.profile-page .products .card .card-body {
  text-align: right; }

.profile-page .user-ads .status {
  right: auto;
  left: 0; }

header.home .header-account-logged li a {
  text-align: right;
  padding-right: 10px;
  padding-left: 0; }

#edit-user-info-form {
  text-align: right;
  direction: rtl; }

#notification-modal .text,
#success-modal .text,
#success-btn-modal .text,
#verify-modal .text,
#delete-modal .text {
  direction: rtl; }

#verify-modal .code {
  direction: rtl; }

.profile-page .session .new-msg {
  left: auto;
  right: 5px; }

#report-form .SumoSelect {
  direction: rtl;
  text-align: right; }

.error-message {
  direction: rtl;
  text-align: right;
  border-right: 2px solid transparent;
  border-left: none;
  border-color: #fa7751; }

.search-result-label {
  direction: rtl;
  text-align: right; }

#delete-account-modal .note {
  direction: rtl;
  text-align: right !important; }

#terms-modal .text {
  text-align: right;
  direction: rtl; }

#user-ads .filter-dropdown .dropdown-menu li {
  text-align: right;
  padding-right: 10px;
  padding-left: 0; }

header.home .notes-dropdown .dropdown-menu {
  direction: rtl; }

.notification-alert {
  direction: rtl; }

/*# sourceMappingURL=style-ar.css.map */
