.error_class{
	border-color: #a94442 ;
	border-width : medium;
}
/*.customer_select_div .select2  {
	width:400px !important
}
 .my_order_select_div .select2  {
	width:409px  !important
}*/

.small_select .select2  {
	 width: 100px !important;
}

.small_select select  {
	 width: 100px !important;
	 display: inline-block !important;
	 vertical-align: middle !important;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}

body{
 font-family: Cairo ; !important
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  /*animation: spin 2s linear infinite;*/
  position: fixed;
    left: 40%;
    top: 40%;
    z-index: 1500;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*.nav-md .container.body .right_col{
	position: relative
}*/

.dim-overlay{
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position: fixed;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1060;
    top: 0;
    bottom: 0;
    /*display: none*/
}

.x_title h2{
	line-height: 29px !important;
}

.dt-buttons{
	float: left !important;
}

.green_button{
    background-color: #1ABB9C !important;
}

.green_button span{
    color: white !important;
}

.second_button{
     margin-left: 11px !important;
}

.input-sm{
	margin-right: 1em;
}

.hide_column {
    display : none;
}

input[type="date"] {
text-align:right;
}

#ad_description {
	width: fit-content;
    height: fit-content;
}



.slick-slider {
 margin: auto;
 width: 100%;
 margin-top: 0px;
 height: 200px;
}

.slick-track{
  height: 200px;
}
 .slick-slider .slick-list {
   padding-top: 0px;
   padding-bottom: 0px; 
   
  }
 .slick-slider .slick-prev:before,
 .slick-slider .slick-next:before {
   color: #c30a30;
   font-size: 30px; }
 .slick-slider .slick-slide {
   text-align: center;
   position: relative;
   z-index: 1; }
 .slick-slider .slick-slide:focus {
   outline: none; }

 .slick-arrow {
	 top: 45%;
	 z-index: 2;
 }

 .slick-prev:before {
	 font-family: "fontawesome";
	 content: "\f104";
	 position: relative; 
  }

.slick-next:before {
	 font-family: "fontawesome";
	 content: "\f105";
	 position: relative; 
}
 
 .ads_details .slick-arrow {
   top: 45%; }
 .ads_details .slick-prev {
   left: 25px; }
 .ads_details .slick-next {
   right: 25px; }


