.error_class{
	border-color: #a94442 ;
	border-width : medium;
}
.fit_select_div .select2  {
	width:100% !important
}
/* .my_order_select_div .select2  {
	width:409px  !important
}*/

.small_select .select2  {
	 width: 100px !important;
}

.small_select select  {
	 width: 100px !important;
	 display: inline-block !important;
	 vertical-align: middle !important;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}

body{
 font-family: Cairo ; !important
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  /*animation: spin 2s linear infinite;*/
  position: fixed;
    left: 40%;
    top: 40%;
    z-index: 1500;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*.nav-md .container.body .right_col{
	position: relative
}*/

.dim-overlay{
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position: fixed;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1060;
    top: 0;
    bottom: 0;
    /*display: none*/
}

.x_title h2{
	line-height: 29px !important;
}

.dt-buttons{
	float: left !important;
}

.green_button{
    background-color: #1ABB9C !important;
}

.green_button span{
    color: white !important;
}

.second_button{
     margin-left: 11px !important;
}

.input-sm{
	margin-right: 1em;
}

.hide_column {
    display : none;
}

input[type="date"] {
text-align:right;
}

#ad_description {
	width: fit-content;
    height: fit-content;
}

input[type=checkbox], input[type=radio] {
	 /*margin-right: -182px;
    margin-bottom: -2px;
    margin-left: -182px;*/
}



.slick-slider {
 margin: auto;
 width: 100%;
 margin-top: 0px;
 height: 200px;
}

.slick-track{
  height: 200px;
}
 .slick-slider .slick-list {
   padding-top: 0px;
   padding-bottom: 0px; 
   
  }
 .slick-slider .slick-prev:before,
 .slick-slider .slick-next:before {
   color: #c30a30;
   font-size: 30px; }
 .slick-slider .slick-slide {
   text-align: center;
   position: relative;
   z-index: 1; }
 .slick-slider .slick-slide:focus {
   outline: none; }

 .slick-arrow {
	 top: 45%;
	 z-index: 2;
 }

 .slick-prev:before {
	 font-family: "fontawesome";
	 content: "\f104";
	 position: relative; 
  }

.slick-next:before {
	 font-family: "fontawesome";
	 content: "\f105";
	 position: relative; 
}
 
 .ads_details .slick-arrow {
   top: 45%; }
 .ads_details .slick-prev {
   left: 25px; }
 .ads_details .slick-next {
   right: 25px; }


body{
/*	background: #c30a30;*/
/*	background: #888;*/
/*	color: #555*/
}
.nav-md .container.body .col-md-3.left_col{
	z-index: auto
}
/*.table-striped>tbody>tr:nth-of-type(odd)*/
.table-striped>tbody>tr:hover{
	background-color: #eee;
	cursor: default
}
.table-striped>tbody>tr{
	cursor: default
	font-weight: bold;
}

.left_col{
	background: #8e0f0f
}
.body{
	background: #8e0f0f;
	color: #39546f;
	
}
/*.nav.side-menu>li.current-page{
	border-left: 5px solid  #ad938f;
}

.nav.side-menu>li.active {
    border-left: 5px solid #ad938f;
}*/

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #ad938f;
    border-left: 5px solid #ad938f;
}

.btn-primary {
    /*background-color: #b31717;
    border-color: #650a0a;*/
    background-color: #2a3f54;
    border-color: #223140;
}
thead{
   color: #8e0f0f;
}
.nav-tabs>li >a{
	 color: #8e0f0f;
     font-weight: bold;
}


/*strat cata manage taps css*/
.tabs-left>li .cat_tap{
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
    background: #F7F7F7;
    text-overflow: ellipsis;
    overflow: hidden;
  	color: #8e0f0f;
    font-weight: bold;
}

.tabs-left>li.li-row{
    background: #F7F7F7;
    border: 1px solid transparent;
}


/*.tabs-left>li.active .cat_tap, .tabs-left>li.active .cat_tap:hover, .tabs-left>li.active .cat_tap:focus {
    border-bottom-color: #F7F7F7;
    border-right-color: transparent;
}*/

.tabs-left>li.active.li-row, .tabs-left>li.active.li-row:hover, .tabs-left>li.active.li-row:focus {
    border-bottom-color: #F7F7F7;
    border-right-color: transparent;
}
.tabs-left>li.li-row .icon-edit{
	cursor: pointer;
}
/*.tabs-left>li.li-row .icon-edit:hover{
	cursor: pointer;
	background-color: #F7F7F7
}*/
.tabs-left>li .cat_tap:hover{
    background-color: #fff;
    /*border-color: #eee;*/
}

.tabs-left>li.li-row:hover{
    background-color: #fff;
    border-color: #eee;
}

.tabs-left>li.active.li-row{
    background-color: #fff;
    border: 1px solid #ddd;
    /*border-bottom-color: #F7F7F7;
    border-right-color: transparent;*/
}

.nav>li .cat_tap {
    position: relative;
    padding: 13px 15px 12px;
}
.nav-tabs>li .cat_tap {
    line-height: 1.42857143;
    border: 1px solid transparent;
}

/*end cata manage taps css*/

.nav_title{
	background: #28313
	/*background: #5c6a79*/
}


/*fileuploader*/
#fileuploader-comm_ad .ajax-upload-dragdrop{
 padding: 10px;
 border: 1px solid #ced4da;
 border-radius: 13px; }
 #fileuploader-comm_ad .ajax-upload-dragdrop b{
   color: #6c757d;
   opacity: 1;
   font-weight: inherit;
   font-size: inherit;
   font-family: inherit;
   padding-left: 10px; }
#fileuploader-comm_ad .ajax-file-upload{
 padding: 0;
 margin: 0;
 line-height: 25px;
 border-radius: 2rem;
 height: auto;
 min-height: 35px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-size: .8rem;
 font-weight: bold;
 border: none;
 box-shadow: 0px 1px 10px 0px #a8a8a8;
 background-color: #fff;
 color: #c30a30;
 width: 40%;
 text-align: center;
 cursor: grab !important; }
#fileuploader-comm_ad .ajax-file-upload input[type="file"]{
 cursor: auto; }
#fileuploader-comm_ad.ajax-file-upload:hover{
 cursor: auto !important; }
#fileuploader-comm_ad .ajax-file-upload input[type="file"]:hover{
 cursor: auto !important; }

.ajax-file-upload-container .ajax-file-upload-statusbar {
 border: 1px solid #6c757d;
 width: 40% !important;
 overflow: hidden;
 text-overflow: ellipsis;
 display: inline-block;
 min-height: 180px; }
.ajax-file-upload-container .ajax-file-upload-filename {
 text-overflow: ellipsis;
 max-width: 100%;
 overflow: hidden;
 width: 100%;
 white-space: nowrap; }
.ajax-file-upload-container .ajax-file-upload-progress {
 max-width: 100%; }
 
 #main_cat_add_btn{
 	width: 100%;
 	background-color: transparent;
    color: #2a3f54;
    border-color: white;
 }
 
/*.template_info_cat{
 	position: relative;
    top: 9px;
 }*/
 
 
